<%-# Index de mon programme-%>
<%-# Cette page affiche tous les potin en dynamique-%>

<h1 class="text-center m-4 mb-5">Bienvenue à toi visiteur</h1>
<div class="row col-10 m-auto">
    <% Gossip.all.each do |gossip| %>    <% #Boucle ceci permet de afficher plusieurs fois la meme chose %>
        <div class="col-sm-6 mb-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= gossip.title %></h5>
                    <p class="card-text">Ce potin a ete cree par: <%= @auteur %>.</p>
                    <a href="http://localhost:3000/potin/<%= gossip.id %>" class="btn btn-primary">Vour le Potin</a>
                    <a href="http://localhost:3000/like/<%= gossip.id %>/<%= @auteur  %>" class="btn btn-primary">Liker ce Potin</a> 
                </div>
            </div>
        </div>
    <% end %>
</div>
